log.txt
Save1.rxdata
Save2.rxdata
Save3.rxdata
modfile.txt
modfile
Save2.rxdata
Game.ini

r48
blip.png
altar_glow.png
tentity.png
doot.png

debug.txt
dump.json


dlls.zip
#
desktop.ini
RGSS104E.dll
b_pack.bat
Graphics/Pictures/avatar.png

crash.txt
RPGXP_dxgi.log
*.crash
*.owad
*.lock
lib/nopopup
lib/noreports
*.gz
Crashes
Data/xIseq.rxdata
Data_JSON/
Scripts/
OSFMOtherViewPipe_DontTouch
